.contf{
    display: flex;
    gap:10px;
}
.estilo{
    width: 200px;
    height: 200px;
}
#d1{
    background-color: blue;
}
#d2{
    background-color: red;
}
#d3{
    background-color: green;
}
#d4{
    background-color: yellow;
}
#key{
    border: 1px solid black;
}
#key1{
    border: 1px solid black;
}